.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonGreen {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.buttonGreen:hover {
  background-color: #4CAF50;
  color: white;
}

.buttonGreen:focus {
  outline:0;
}

.buttonOrange {
  background-color: white;
  color: black;
  border: 2px solid #FCBA03;
}

.buttonOrange:hover {
  background-color: #FCBA03;
  color: white;
}

.buttonOrange:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.display {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.no-outline{
  border-bottom-style: hidden;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
}

.player-name{
  border-bottom-style: hidden;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  text-align: left;
  outline: none;
}
